<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/blogPost.css">
</head>

<body>
    <div id="navbar">
        <!-- Your navbar content here -->
    </div>
    <div id="content">
        
        <div id="blogContent"><%- htmlContent %></div>
        
    </div>
    <hr>
    <footer>
        <p id="author">Written by <span style="font-weight: bold;"><%= username %></span></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</body>

</html>
