<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Make html file in views folder only with .ejs extention,
        we use .ejs instead of .html because it is a dynamic website and not static.
        the content of html will be change dynamically
    </h1>
    <h1>Put the css files in public folder which is static file that are shown to user</h1>
    
</body>
</html>