<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Home</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
    <div id="navbar">
        <div id="link">
            <a class="link-item" href="">Home</a>
            <a class="link-item" href="">My Blogs</a>
            <a class="link-item" href="/Post">Post</a>
        </div>
        <div id="user">
            <a href="/signIn"><button id="sign-in">Sign In</button></a>
        </div>
    </div>
    <div id="content">
        <div class="card">
            <img src="https://images7.alphacoders.com/135/thumbbig-1354305.webp" alt="">
            <p>How to write interesting blogs</p>
        </div>
        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2023/12/08/23/46/cat-8438334_1280.jpg" alt="">
            <p>How to write interesting blogs</p>
        </div>
        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2024/02/17/11/45/moon-8579189_1280.jpg" alt="">
            <p>How to write interesting blogs</p>
        </div>
        <div class="card">
            <img src="https://images.pexels.com/photos/1212487/pexels-photo-1212487.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="">
            <p>How to write interesting blogs</p>
        </div>
        <div class="card">
            <img src="https://images8.alphacoders.com/135/thumbbig-1355024.webp" alt="">
            <p>How to write interesting blogs</p>
        </div>
        <div class="card">
            <img src="https://images4.alphacoders.com/135/thumbbig-1355291.webp" alt="">
            <p>How to write interesting blogs</p>
        </div>
        <div class="card">
            <img src="https://images5.alphacoders.com/134/thumbbig-1341740.webp" alt="">
            <p>How to write interesting blogs</p>
        </div>
        <div class="card">
            <img src="https://images7.alphacoders.com/134/thumbbig-1342973.webp" alt="">
            <p>How to write interesting blogs</p>
        </div>
        <div class="card">
            <img src="https://images8.alphacoders.com/632/632051.png"
                alt="">
            <p>How to write interesting blogs</p>
        </div>
        <div class="card">
            <img src="https://images6.alphacoders.com/476/thumbbig-476288.webp" alt="">
            <p>How to write interesting blogs</p>
        </div>
        <div class="card">
            <img src="https://images6.alphacoders.com/134/thumbbig-1341828.webp" alt="">
            <p>How to write interesting blogs</p>
        </div>
        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2018/09/23/18/30/drop-3698073_1280.jpg" alt="">
            <p>How to write interesting blogs</p>
        </div>
    </div>
</body>

</html>