<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    
</head>
<body>
    <div class="navbar">
        <div class="navItem hamburger">
            <img class="navIcon" src="images/UI/hamburger.png" alt="">
        </div>
        <div class="navItem">
            <img class="navIcon" src="images/UI/home_not_clicked.png" alt="">
            
        </div>
        <div class="navItem">
            <img class="navIcon" src="images/UI/add-friend.png" alt="">
            
        </div>
        <div class="navItem">
            <img class="navIcon" src="images/UI/add-file.png" alt="">
            
        </div>
        <div class="navItem">
            <img class="navIcon" src="images/UI/follow.png" alt="">
            
        </div>
        <div class="navItem">
            <img class="navIcon" id="userIconButtom" src="images/UI/user.png" alt="">
            
        </div>
    </div>

    <div  class="topbar">
        <div id="logo" style="flex-grow: 1;">
            <img class="navIcon" src="images/UI/grimoire.png" alt="">
            <p id="logoLabel">Grimoire</p>
        </div>
        <div id="search" style="flex-grow: 1;">
            <input id="searchArea" type="text" placeholder="Search">
            <img class="navIcon" id="searchIcon" src="images/UI/magnifying-glass.png" alt="">
        </div>
        <img id="notification"  class="navIcon" src="images/UI/bell.png" alt="">
        <img class="navIcon" id="userIcon" src="images/UI/user.png" alt="">
    </div>
    
</body>
</html>