<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs | Post</title>
    <link rel="stylesheet" href="stylesheets/post.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
    <div id="navbar">
        <a href="/"><button id="cancel" class="post-button">Cancel</button></a>
        <button class="post-button">Post</button>
    </div>
    <form action="">
        <label for="title">Title</label><br>
        <div class="input-container">
            <input id="title" type="text" placeholder="Write you title here"><br>
        </div>

        <label for="add-picter-div">Thumbnail</label>
        <div id="add-picter-div">
            <p>1920 × 1080</p>
            <button>Upload</button>
        </div>
        <label for="content">Content</label><br><br>
        <textarea id="markdown-editor"></textarea>
    </form>


    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById("markdown-editor"),
            toolbar: ["bold", "italic", "heading", "|", "preview", "side-by-side", "fullscreen", "image", "guide", "table"],
            status: false, // Disable the status bar
            spellChecker: false // Disable spell checker
        });
    </script>
</body>
</html>