<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blogs | Register</title>
    <link rel="stylesheet" href="stylesheets/signIn.css">
</head>
<body>
    <div id="form-container">
        <form action="">
            <h1>Register</h1>
            <input type="text" placeholder="Username"><br>
            <input type="password" placeholder="Password"><br>
            <p>Already have an account ? <a href="/signIn"><span style="color: rgb(0, 166, 255);">Sign In</span></a></p>
            <button>Register</button>
        </form>
    </div>
</body>
</html>