<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blogs | Sign In</title>
    <link rel="stylesheet" href="stylesheets/signIn.css">
</head>
<body>
    <div id="form-container">
        <form action="/signIn" method="POST"> <!-- Updated action and method attributes -->
            <h1>Log In</h1>
            <input type="text" name="username" placeholder="Username"><br> <!-- Added name attribute -->
            <input type="password" name="password" placeholder="Password"><br> <!-- Added name attribute -->
            <p>Don't have an account ? <a href="/Register"><span style="color: rgb(0, 166, 255);">Create account</span></a></p>
            <button type="submit">Sign In</button> <!-- Added type attribute -->
        </form>
    </div>
</body>
</html>
