<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blogs | Sign In</title>
    <link rel="stylesheet" href="stylesheets/signIn.css">
</head>
<body>
    <div id="form-container">
        <form action="">
            <h1>Log In</h1>
            <input type="text" placeholder="Username"><br>
            <input type="password" placeholder="Password"><br>
            <p>Don't have an account ? <a href="/Register"><span style="color: rgb(0, 166, 255);">Create account</span></a></p>
            <button>Sign In</button>
        </form>
    </div>
</body>
</html>