body {
    background-color: #02786d;
    font-family: sans-serif;
}
#navbar {
    width: 400px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.nav-text {
    text-align: center;
    color: #f7ff64;
    font-size: 24px;
    text-decoration: none;
}